<table class="table table-hover table-bordered">
    <thead>
    <tr>
        <th>Category</th>
        <th>Tokens Value</th>
        <th>Status</th>
        <th>Num Attempts</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{uqj?.question?.full_category_name || 'No Category'}}</td>
        <td>{{uqj?.question?.token_value || 'No Token Value'}}</td>
        <td>{{uqj?.status || 'No Status'}}</td>
        <td>{{uqj?.question?.max_submission_allowed || 'No Value'}}</td>
    </tr>
    </tbody>
</table>

<div class="card my-3" *ngFor="let item of answerFiles">
    <div class="card-header"><h2> {{ item.name }} </h2></div>
    <div class="card-body">
            <pre>
                <code [highlight]="item.code" [lineNumbers]="true"></code>
            </pre>
    </div>
</div>

<div class="card my-1">
    <div class="card-header">
        <h1>{{uqj?.question?.title}}</h1>
    </div>
    <div class="card-body" [innerHTML]="uqj?.question?.text"></div>
</div>


<div class="card my-1">
    <div class="card-header">
        <h1>Submission & Metrics</h1>
    </div>

    <div class="card-body">
        <ng-container *ngIf="distinctUsers.size != 0; else tableEmpty">
            <h2 style="text-align: center">Overall Average Metrics</h2>
            <table class="table table-hover table-bordered">
                <tr>
                    <th colspan="8" style="text-align: center">Basics (Average)</th>
                    <th colspan="10" style="text-align: center">Halstead Metrics (Average)</th>
                </tr>
                <tr class="metrics">
                    <th>Number of Submissions</th>
                    <th>Grade</th>
                    <th>Correct Rate</th>
                    <th>Total Lines</th>
                    <th>Blank Lines</th>
                    <th>Number of Comments</th>
                    <th>Number of Import Statements</th>
                    <th>Number of Methods</th>
                    <th>Cyclomatic Complexity</th>
                    <th>Operators</th>
                    <th>Operands</th>
                    <th>Unique Operators</th>
                    <th>Unique Operands</th>
                    <th>Vocabulary</th>
                    <th>Difficulty</th>
                    <th>Effort</th>
                    <th>Error</th>
                    <th>Test time</th>


                </tr>
                <tr *ngIf="questionAnalytics">
                    <td>{{questionAnalytics.number_submission}}</td>
                    <td>{{questionAnalytics.avg_grade}}/1.00</td>
                    <td>{{questionAnalytics.correct_rate*100}}%</td>
                    <td>{{questionAnalytics.lines}}</td>
                    <td>{{questionAnalytics.blank_lines}}</td>
                    <td>{{questionAnalytics.comment_lines}}</td>
                    <td> {{questionAnalytics.import_lines}}</td>
                    <td>{{questionAnalytics.method}}</td>
                    <td>{{questionAnalytics.cc}}</td>
                    <td>{{questionAnalytics.operator}}</td>
                    <td>{{questionAnalytics.operand}}</td>
                    <td> {{questionAnalytics.unique_operator}}</td>
                    <td> {{questionAnalytics.unique_operand}}</td>
                    <td>{{questionAnalytics.vocab}}</td>
                    <td>{{questionAnalytics.difficulty}}</td>
                    <td>{{questionAnalytics.effort}}</td>
                    <td>{{questionAnalytics.error}}</td>
                    <td>{{questionAnalytics.test_time}}</td>
                </tr>
            </table>

            <h2 style="text-align: center">Individual Submission Metrics</h2>


            <mat-accordion>
                <mat-expansion-panel hideToggle *ngFor="let user of distinctUsers | keyvalue">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <p>{{user.value}}</p>
                        </mat-panel-title>
                        <mat-panel-description>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-list>

                        <table class="table table-hover table-bordered">
                            <tr>
                                <th colspan="8" style="text-align: center">Basics</th>
                                <th colspan="9" style="text-align: center">Halstead Metrics</th>
                            </tr>
                            <tr class="metrics">
                                <th>Submission</th>
                                <th>Grade</th>
                                <th>Total Lines</th>
                                <th>Blank Lines</th>
                                <th>Number of Comments</th>
                                <th>Number of Import Statements</th>
                                <th>Number of Methods</th>
                                <th>Cyclomatic Complexity</th>
                                <th>Operators</th>
                                <th>Operands</th>
                                <th>Unique Operators</th>
                                <th>Unique Operands</th>
                                <th>Vocabulary</th>
                                <th>Difficulty</th>
                                <th>Effort</th>
                                <th>Error</th>
                                <th>Test time</th>


                            </tr>
                            <ng-container *ngFor="let submission of analytics">
                                <tr  *ngIf="submission.user_id.id === user.key">
                                    <td>
                                        <button class="btn btn-primary mr-3"
                                                [routerLink]="['/problems/submission/', submission.submission]">
                                            Details</button></td>
                                    <td>{{grades.get(submission.submission)}}</td>
                                    <td>{{submission.lines}}</td>
                                    <td>{{submission.blank_lines}}</td>
                                    <td>{{submission.comment_lines}}</td>
                                    <td> {{submission.import_lines}}</td>
                                    <td>{{submission.method}}</td>
                                    <td>{{submission.cc}}</td>
                                    <td>{{submission.operator}}</td>
                                    <td>{{submission.operand}}</td>
                                    <td> {{submission.unique_operator}}</td>
                                    <td> {{submission.unique_operand}}</td>
                                    <td>{{submission.vocab}}</td>
                                    <td>{{submission.difficulty}}</td>
                                    <td>{{submission.effort}}</td>
                                    <td>{{submission.error}}</td>
                                    <td>{{submission.test_time}}</td>
                                </tr>
                            </ng-container>
                        </table>
                    </mat-list>
                </mat-expansion-panel>
            </mat-accordion>
        </ng-container>

    </div>
</div>

<ng-template #tableEmpty>
    <tr>
        <td class="bg-info" colspan="6">
            <p class="text-center text-light m-0">There are currently no submissions for this question.</p>
        </td>
    </tr>
</ng-template>


