<div [ngStyle]="{'display':display}">
    <tui-loader [size]="'xxl'">
    </tui-loader>
</div>
<div class="questions">
    <div class="question" *ngFor="let analytics of questionAnalytics">
        <a
            size="l"
            tuiIsland
            target="_blank"
            [hoverable]="true"
        >
            <ng-container *ngIf="!analytics.num_passed_submissions else non_mcq">
                <div class="title">
                    <p class="tui-text_body-xl"><b>{{analytics.question.title}}</b></p>
                    <tui-tag
                        status="custom"
                        style="margin-bottom:5px;background-color:{{analytics.assigned_difficulty === 'EASY' ? '#8dda71' : analytics.assigned_difficulty === 'MEDIUM' ? '#ffc700' : '#f45725'}}"
                        [hoverable]="true"
                        [value]="analytics.assigned_difficulty"
                    ></tui-tag>
                    <p class="tui-text_body-l" [innerHTML]="analytics.question.text"></p><br>
                    <p class="tui-text_body-l"><b>Median time spent on this question: {{analytics.median_time_spent}}
                        seconds</b></p>
                </div>
                <div class="content">
                    <table>
                        <tr class="{{analytics.question.answer == 'a' ? 'correct_ans': ''}}">
                            <td class="choices"
                                [innerHTML]="getUQJ(analytics.question)?.rendered_choices['a']"></td>
                            <td class="choices">{{getResponsePercentage(analytics, 'a')}}</td>
                            <td class="choices">{{analytics.most_frequent_wrong_ans[0]['a'] === 1 ?
                                analytics.most_frequent_wrong_ans[0]['a'] + ' Submission' :
                                analytics.most_frequent_wrong_ans[0]['a'] + ' Submissions'}}
                            </td>
                        </tr>
                        <tr class="{{analytics.question.answer == 'b' ? 'correct_ans': ''}}">
                            <td class="choices"
                                [innerHTML]="getUQJ(analytics.question)?.rendered_choices['b']"></td>
                            <td class="choices">{{getResponsePercentage(analytics, 'b')}}</td>
                            <td class="choices">{{analytics.most_frequent_wrong_ans[0]['b'] === 1 ?
                                analytics.most_frequent_wrong_ans[0]['b'] + ' Submission' :
                                analytics.most_frequent_wrong_ans[0]['b'] + ' Submissions'}}
                            </td>
                        </tr>
                        <tr class="{{analytics.question.answer == 'c' ? 'correct_ans': ''}}">
                            <td class="choices"
                                [innerHTML]="getUQJ(analytics.question)?.rendered_choices['c']"></td>
                            <td class="choices">{{getResponsePercentage(analytics, 'c')}}</td>
                            <td class="choices">{{analytics.most_frequent_wrong_ans[0]['c'] === 1 ?
                                analytics.most_frequent_wrong_ans[0]['c'] + ' Submission' :
                                analytics.most_frequent_wrong_ans[0]['c'] + ' Submissions'}}
                            </td>
                        </tr>
                        <tr *ngIf="getUQJ(analytics.question)?.rendered_choices['d'] != null"
                            class="{{analytics.question.answer == 'd' ? 'correct_ans': ''}}">
                            <td class="choices"
                                [innerHTML]="getUQJ(analytics.question)?.rendered_choices['d']"></td>
                            <td class="choices">{{getResponsePercentage(analytics, 'd')}}</td>
                            <td class="choices">{{analytics.most_frequent_wrong_ans[0]['d'] === 1 ?
                                analytics.most_frequent_wrong_ans[0]['d'] + ' Submission' :
                                analytics.most_frequent_wrong_ans[0]['d'] + ' Submissions'}}
                            </td>
                        </tr>
                    </table>
                </div>
            </ng-container>
            <ng-template #non_mcq>
                <div class="title">
                    <p class="tui-text_body-xl"><b>{{analytics.question.title}}</b></p>
                    <tui-tag
                        status="custom"
                        style="margin-bottom:5px;background-color:{{analytics.assigned_difficulty === 'EASY' ? '#8dda71' : analytics.assigned_difficulty === 'MEDIUM' ? '#ffc700' : '#f45725'}}"
                        [hoverable]="true"
                        [value]="analytics.assigned_difficulty"
                    ></tui-tag>
                    <br>
                    <p class="tui-text_body-l" [innerHTML]="analytics.question.text"></p>
                </div>
                <ng-container>
                    <br>
                    <p class="tui-text_body-l"><b>Total of {{analytics.num_submissions}} submissions
                        with {{(analytics.correct_num)}} scored full mark</b></p>
                    <br>
                    <p class="tui-text_body-l"><b>Median time spent on this question: {{analytics.median_time_spent}}
                        seconds</b></p>
                    <table>
                        <tr *ngFor="let file of analytics.num_passed_submissions[0] | keyvalue">
                            <td class="correct_ans choices">Submissions that
                                passed unit test: {{file.key}}</td>
                            <td class="correct_ans choices">
                                {{(file.value / analytics.num_submissions * 100).toFixed(2)}}
                                %
                            </td>
                            <td class="correct_ans choices">
                                {{file.value === 1 ?
                                file.value + ' Submission' :
                                file.value + ' Submissions'}}
                            </td>
                        </tr>
                    </table>
                </ng-container>
                <br>
                <div class="content">
                    <ng-container *ngIf="analytics.missing_lines">
                        <br>
                        <hr class="solid">
                        <br>
                        <p class="tui-text_body-l choices"><b>Parsons lines that are ignored in submissions: </b></p>
                        <div *ngFor="let file of analytics.missing_lines[0] | keyvalue">
                            <b><p [innerHTML]="file.key"></p></b>
                            <div *ngFor="let line of file.value[0] | keyvalue">
                                <table *ngIf="line.value else empty">
                                    <tr>
                                        <td class="choices" [innerHTML]="line.key"></td>
                                        <td class="choices">
                                            {{(line.value / analytics.num_submissions * 100).toFixed(2)}}
                                            %
                                        </td>
                                        <td class="choices">
                                            {{line.value === 1 ?
                                            line.value + ' Submission' :
                                            line.value + ' Submissions'}}
                                        </td>
                                    </tr>
                                </table>
                                <ng-template #empty>
                                    No lines are ignored in the submissions.
                                </ng-template>
                            </div>
                            <br>
                        </div>
                    </ng-container>
                    <br>
                    <hr class="solid">
                    <br>
                    <p class="tui-text_body-l"><b>Average metrics from all {{analytics.num_submissions}} submissions
                        (excluding empty submissions):</b></p>
                    <table>
                        <tr>
                            <th>Lines</th>
                            <th>Blank Lines</th>
                            <th>Lines of Comment</th>
                            <th>Lines of Import</th>
                            <th>Methods</th>
                            <th>Cyclomatic Complexity
                                <span
                                    mat-raised-button
                                    #tooltip="matTooltip"
                                    matTooltip="A software metric used to indicate the complexity of a program"
                                    [matTooltipPosition]="'above'"
                                    aria-label="Button that displays a tooltip that hides when scrolled out of the container"
                                    class="example-button"
                                >
                                    <mat-icon style="font-size: 20px" color="accent">info</mat-icon>
                                </span></th>
                        </tr>
                        <tr>
                            <td>{{analytics.lines}}</td>
                            <td>{{analytics.blank_lines}}</td>
                            <td>{{analytics.comment_lines}}</td>
                            <td>{{analytics.import_lines}}</td>
                            <td>{{analytics.method}}</td>
                            <td>{{analytics.cyclomatic_complexity}}</td>
                        </tr>
                        <tr>
                            <th>Operators
                                <span
                                    mat-raised-button
                                    #tooltip="matTooltip"
                                    matTooltip="Number of operators in the submission code"
                                    [matTooltipPosition]="'above'"
                                    aria-label="Button that displays a tooltip that hides when scrolled out of the container"
                                    class="example-button"
                                >
                                    <mat-icon style="font-size: 20px" color="accent">info</mat-icon>
                                </span>
                            </th>
                            <th>Operands
                                <span
                                    mat-raised-button
                                    #tooltip="matTooltip"
                                    matTooltip="Number of operands in the submission code"
                                    [matTooltipPosition]="'above'"
                                    aria-label="Button that displays a tooltip that hides when scrolled out of the container"
                                    class="example-button"
                                >
                                    <mat-icon style="font-size: 20px" color="accent">info</mat-icon>
                                </span>
                            </th>
                            <th>Unique Operators
                                <span
                                    mat-raised-button
                                    #tooltip="matTooltip"
                                    matTooltip="Number of distinct operators in the submission code"
                                    [matTooltipPosition]="'above'"
                                    aria-label="Button that displays a tooltip that hides when scrolled out of the container"
                                    class="example-button"
                                >
                                    <mat-icon style="font-size: 20px" color="accent">info</mat-icon>
                                </span>
                            </th>
                            <th>Unique Operands
                                <span
                                    mat-raised-button
                                    #tooltip="matTooltip"
                                    matTooltip="Number of distinct operands in the submission code"
                                    [matTooltipPosition]="'above'"
                                    aria-label="Button that displays a tooltip that hides when scrolled out of the container"
                                    class="example-button"
                                >
                                    <mat-icon style="font-size: 20px" color="accent">info</mat-icon>
                                </span>
                            </th>
                            <th>Vocabulary
                                <span
                                    mat-raised-button
                                    #tooltip="matTooltip"
                                    matTooltip="Total number of unique operator and unique operand occurrences"
                                    [matTooltipPosition]="'above'"
                                    aria-label="Button that displays a tooltip that hides when scrolled out of the container"
                                    class="example-button"
                                >
                                    <mat-icon style="font-size: 20px" color="accent">info</mat-icon>
                                </span>
                            </th>
                        </tr>
                        <tr>
                            <td>{{analytics.operator}}</td>
                            <td>{{analytics.operand}}</td>
                            <td>{{analytics.unique_operator}}</td>
                            <td>{{analytics.unique_operand}}</td>
                            <td>{{analytics.vocab}}</td>
                        </tr>
                        <tr>
                            <th>Volume
                                <span
                                    mat-raised-button
                                    #tooltip="matTooltip"
                                    matTooltip="Proportional to program size, represents the size, in bits, of space necessary for storing the program"
                                    [matTooltipPosition]="'above'"
                                    aria-label="Button that displays a tooltip that hides when scrolled out of the container"
                                    class="example-button"
                                >
                                    <mat-icon style="font-size: 20px" color="accent">info</mat-icon>
                                </span>
                            </th>
                            <th>Difficulty
                                <span
                                    mat-raised-button
                                    #tooltip="matTooltip"
                                    matTooltip="The difficulty of the program is to handle"
                                    [matTooltipPosition]="'above'"
                                    aria-label="Button that displays a tooltip that hides when scrolled out of the container"
                                    class="example-button"
                                >
                                    <mat-icon style="font-size: 20px" color="accent">info</mat-icon>
                                </span>
                            </th>
                            <th>Effort
                                <span
                                    mat-raised-button
                                    #tooltip="matTooltip"
                                    matTooltip="the amount of mental activity needed to translate the existing algorithm into implementation"
                                    [matTooltipPosition]="'above'"
                                    aria-label="Button that displays a tooltip that hides when scrolled out of the container"
                                    class="example-button"
                                >
                                    <mat-icon style="font-size: 20px" color="accent">info</mat-icon>
                                </span>
                            </th>
                            <th>Error
                                <span
                                    mat-raised-button
                                    #tooltip="matTooltip"
                                    matTooltip="Estimate amount of bugs"
                                    [matTooltipPosition]="'above'"
                                    aria-label="Button that displays a tooltip that hides when scrolled out of the container"
                                    class="example-button"
                                >
                                    <mat-icon style="font-size: 20px" color="accent">info</mat-icon>
                                </span>
                            </th>
                            <th>Estimate Test Time
                                <span
                                    mat-raised-button
                                    #tooltip="matTooltip"
                                    matTooltip="Estimated time to test the program"
                                    [matTooltipPosition]="'above'"
                                    aria-label="Button that displays a tooltip that hides when scrolled out of the container"
                                    class="example-button"
                                >
                                    <mat-icon style="font-size: 20px" color="accent">info</mat-icon>
                                </span>
                            </th>
                        </tr>
                        <tr>
                            <td>{{analytics.vol}}</td>
                            <td>{{analytics.difficulty}}</td>
                            <td>{{analytics.effort}}</td>
                            <td>{{analytics.error}}</td>
                            <td>{{analytics.test_time}}</td>
                        </tr>
                    </table>
                </div>
            </ng-template>
        </a>
    </div>
</div>
