a{
    cursor: default;
    text-decoration: none;
}

td{
    margin: 2px 2px 2px 2px;
    padding: 2px 2px 2px 2px;
}

table{
    width: 100%;
}

th{
    padding: 2px 4px 2px 4px;
}

.tui-island__content{
    width:100%;
}

.correct_ans{
    color: var(--tui-positive);
    font-weight: bold;
}

